
<div class="mb-10 bg-slate-700 overflow-hidden rounded-lg shadow">
  <div class="flex min-w-0 gap-x-4 px-4 py-5 sm:p-6">
    <svg class="fill-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" width="30px" height="30px">
      <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z" />
    </svg>
    <div class="min-w-0 flex-auto">
    <h1 class="text-2xl/8 font-semibold text-white sm:text-xl/8 dark:text-white">Saved jobs</h1>
    </div>
  </div>
</div>

<p class="mt-1 text-sm leading-6 text-gray-600">A list of the jobs you've saved.</p>
<hr role="presentation" class="my-10 mt-6 w-full border-t border-zinc-950/10 dark:border-white/10">

<%= render "shared/job_list", locals: { jobs: @jobs } %>
