<div id="status">
  <% if status == :saved %>
    <span class="rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">
      Saved
    </span>
  <% elsif status == :rejected  %>
    <span class="rounded-md bg-red-50 px-2 py-1 text-xs font-medium text-red-700 ring-1 ring-inset ring-red-600/20">
      Rejected
    </span>
  <% end %>
</div>
