<div class="flex h-16 shrink-0 items-center gap-x-3 text-2xl/8 font-semibold sm:text-xl/8 dark:text-white text-gray-700">
  <title>Company logo</title>
  <svg class="h-9 w-9 shrink-0 text-gray-700 group-hover:text-indigo-600" fill="none" viewBox="0 0 1126.41 1126.41" stroke-width="1.5" stroke="currentColor" role="img">
    <path fill="currentColor" fill-rule="nonzero" d="M1096.23 563.2c0,-147.19 -59.66,-280.45 -156.12,-376.91 -96.46,-96.46 -229.71,-156.12 -376.91,-156.12 -147.19,0 -280.45,59.66 -376.91,156.12 -96.46,96.46 -156.12,229.71 -156.12,376.91 0,147.19 59.66,280.45 156.12,376.91 96.46,96.46 229.72,156.12 376.91,156.12 147.19,0 280.45,-59.66 376.91,-156.12 96.46,-96.46 156.12,-229.72 156.12,-376.91zm-837.34 -41.64l266.2 -263.26 21.22 21.46 -266.2 263.26 -21.22 -21.46zm9.76 157.22l428.28 -428.28 21.34 21.34 -428.28 428.28 -21.34 -21.34zm598.92 -393.19l-587.41 587.41 -21.34 -21.34 587.41 -587.41 21.34 21.34zm-439.74 559.2l413.55 -409.62 21.22 21.34 -413.55 409.62 -21.22 -21.34zm436.85 -233.13l-261.29 264.24 -21.46 -21.22 261.29 -264.24 21.46 21.22zm96.76 -446.7c101.92,101.92 164.96,242.72 164.96,398.24 0,155.52 -63.04,296.33 -164.96,398.25 -101.92,101.92 -242.72,164.96 -398.24,164.96 -155.52,0 -296.32,-63.04 -398.25,-164.96 -101.92,-101.92 -164.96,-242.72 -164.96,-398.25 0,-155.52 63.04,-296.32 164.96,-398.24 101.92,-101.92 242.72,-164.96 398.25,-164.96 155.52,0 296.32,63.04 398.24,164.96z"></path>
  </svg>
  <p class="bg-gradient-to-r from-violet-600 to-indigo-600 bg-clip-text text-transparent">Spotlight</p>
</div>
