<div class="mb-10 bg-gradient-to-r from-violet-600 to-indigo-600 rounded-lg shadow">
  <div class="flex min-w-0 gap-x-4 px-4 py-5 sm:p-6">
    <div class="min-w-0 flex-auto">
    <h1 class="text-2xl/8 font-semibold text-white sm:text-xl/8 dark:text-white">All jobs</h1>
    </div>
  </div>
</div>

<p class="mt-1 text-sm leading-6 text-gray-600">A list of all the job posts from our list of job sites.</p>
<hr role="presentation" class="my-10 mt-6 w-full border-t border-zinc-950/10">

<%= render "filter", employers: @employers %>
<%= render "shared/job_list", locals: { jobs: @jobs } %>
